body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column; /* Change to column layout */
    justify-content: space-between;
    align-items: center; /* Center items horizontally */
    padding: 20px;
}

.account-form, .account-actions, .result {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 20px; /* Add margin to separate the cards */
}
.action-result{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 20px; /* Add margin to separate the cards */
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
